<!doctype html>
<html lang="en">
  <head>
    <title>Vivero El Otoño</title>
  </head>
  <br/>

<body class="body">
  <a  style="font-family: 'Times New Roman', Times, serif; font-size:xx-large;">Vivero El Otoño</a>

</body>
<br/>
<img class="img" src="assets/Arboles.png" width="500" height="300">
<p></p>
<app-planta-list></app-planta-list>
<p></p>

<div class="text-center p-4" style="font-size: small;">
  Contact us: +57 3102105253 - info@viveroelotonio.com - @viveroelotonio
  <a class="text-reset fw-bold" href="https://github.com/MISW-4104-Web/202210_BaseProject"></a>
</div>
<footer>
</footer>
</html>
